.ca_aud_015 .ca_menu {
  position: absolute;
  z-index: 9999999999999;
  background: #fff;
  left: 0;
  top: 55px;
  width: 100%;
  height: 100%;
  border-top: 1px solid #eeeff0;
   /* animation */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.ca_aud_015.ca_active_menu .ca_menu {
  /* animation */
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.ca_aud_015.ca_active_menu {
  overflow: hidden;
}

.ca_aud_015.ca_active_menu .btn--link.site-header__icon .icon-hamburger {
  display: none;
}

.ca_aud_015.ca_active_menu .btn--link.site-header__icon .icon-close {
  display: block;
}

.ca_aud_015 .ca_toggle_button {
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
  height: 50px;
  background-color: transparent;
}

.ca_aud_015 .ca_menu_list_wrapper li {
  margin: 0px 30px;
  padding: 15px 0px;
  color: #25282b;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eeeff0;
  cursor: pointer;
  flex-wrap: wrap;
}

.ca_aud_015 .ca_menu_list_wrapper li:last-of-type div {
  background-color: #f0c151;
  color: #1d2833;
  border: 1px solid #1d2833;
  border-radius: 6px;
  width: 100%;
  max-width: 315px;
  padding: 12px 47px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}


.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list {
  display: block;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper div.ca_dropdown_toggle_button {
  display: flex;
  gap: 10px;
  flex-basis: 100%;
}


.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper div.ca_dropdown_toggle_button + .ca-dropdown-toggle-arrows-wrapper .ca_dropdown_toggle_arrow_up {
  display: none;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper div.ca_dropdown_toggle_button + .ca-dropdown-toggle-arrows-wrapper .ca_dropdown_toggle_arrow_down{
  display: block;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper.ca_active_dropdown div.ca_dropdown_toggle_button + .ca-dropdown-toggle-arrows-wrapper .ca_dropdown_toggle_arrow_up{
  display: block;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper.ca_active_dropdown div.ca_dropdown_toggle_button + .ca-dropdown-toggle-arrows-wrapper .ca_dropdown_toggle_arrow_down{
  display: none;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper + .ca_dropdown_toggle_expanded-content-wrapper{
  display: none;
}


.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper.ca_active_dropdown + .ca_dropdown_toggle_expanded-content-wrapper{
  display: block;
  margin-top: 10px;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper.ca_active_dropdown + .ca_dropdown_toggle_expanded-content-wrapper div{
  margin: 0px 30px;
  padding: 15px 0px;
  color: #25282b;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  flex-wrap: wrap;
}

.ca_aud_015 .ca_menu_list_wrapper li.ca_dropdown_toggle_list .ca_dropdown_toggle_elements-wrapper.ca_active_dropdown + .ca_dropdown_toggle_expanded-content-wrapper .ca-dropdown_toggle_secondary_text{
  background-color: #f0c151;
  color: #1d2833;
  border-radius: 1px;
  padding: 4px;
  font-weight: 700;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
}

@media (min-width: 749px) {
  .ca_aud_015 .ca_menu,
  .ca_aud_015.ca_active_menu .ca_menu {
    display: none;
  }
}
